.catalog-page-container {
    font-family: "Jaldi";
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalog-page-title {
    color: #567915;
    text-shadow: 0 4px 4px rgb(86 121 21 / 25%);
    font-size: 42px;
}

.catalog-page-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.catalog-page-item-container {
    aspect-ratio: 1;
    background-color: #567915;
}


@media (max-width: 500px) {
    .catalog-page-item-container{
    }
}

@media (min-width: 500px) and (max-width: 830px) {
    .catalog-page-item-container{
    }
}
